<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rne_gazebo)/worlds/RNE_robot.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Spawn a robot into Gazebo -->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find rne_gazebo)/robot/rne_robot.sdf -sdf -x 0 -y 0 -z 2 -model iris" />
  <!-- import baxter robot from pack baxter_description-->
  <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find baxter_description)/urdf/baxter.urdf -urdf -x 7 -y 0 -z 1 -model baxter" />-->

  <!-- Spawn an AprilTag into Gazebo -->
  <!-- upload the robot xacro/urdf to the param server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder $(find tams_apriltags)/urdf/apriltag_rne.xacro" />

  <node name="spawn_apriltag_demo" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -x 0.2 -y 0 -z 0 -R 0 -P 0 -Y 0 -model apriltags" 
        respawn="false" output="screen" />

  <!-- run arpiltag_ros to detect apriltag_rne        -->
  <!-- <include file="$(find apriltag_ros)/launch/rne_continuous_detection.launch"> -->
    <!-- more default parameters can be changed here -->
  <!-- </include> -->

  <!-- run arpiltag_ros to detect apriltag_rne -->       
  <include file="$(find rne_vs)/launch/rne_vs.launch">
    <!-- more default parameters can be changed here -->
  </include>  

</launch>