<launch>
  <!-- lanch drone model, px4 control, fake vicon and map vicon to mavros_vision -->
  <include file="$(find drone_simulation_tools)/launch/drone_sim_vision_map_mavros.launch">
  </include>


  <!-- Spawn an AprilTag into Gazebo -->
  <!-- upload the robot xacro/urdf to the param server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder $(find tams_apriltags)/urdf/apriltag_rne.xacro" />

  <node name="spawn_apriltag_demo" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -x 1 -y 1 -z 0.15 -R 0 -P 0 -Y 0 -model apriltags" 
        respawn="false" output="screen" />


</launch>  
  
