<launch>
  <!-- end of hack -->

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->

  <!-- lanch drone model, px4 control, fake vicon and map vicon to mavros_vision -->
  <include file="$(find drone_simulation_tools)/launch/drone_px4_onboard.launch">
  </include>

    <!-- Spawn Jackal -->
  <group ns="jackal_robot">  
  <arg name="front_laser" default="false" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />
  <!-- end of hack -->

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="true" />  
  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="1" />
    <arg name="y" value="1" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
    <arg name="config" value="$(arg config)" />
    <arg name="joystick" value="$(arg joystick)" />
  </include>

  <include file="$(find jackal_viz)/launch/view_robot.launch">
  </include>
  </group>

  <!-- Spawn an AprilTag into Gazebo -->
  <!-- upload the robot xacro/urdf to the param server -->
  <group ns="AprilTag"> 
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder $(find tams_apriltags)/urdf/apriltag_rne.xacro" />

  <node name="spawn_apriltag_demo" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -x 1 -y 1 -z 0.5 -R 0 -P 0 -Y 0 -model apriltags" 
        respawn="false" output="screen" />
  </group>

</launch>  
  
