<launch>


  <!-- set takeoff setpoint -->
  <remap from="rne_control/tag_detections" to="tag_detections" />  
  <remap from="rne_control/visual_servoing_setpoint" to="visual_servoing_setpoint" />  
  <remap from="rne_control/trajectory/setpoint" to="trajectory/setpoint" />  
  <remap from="rne_control/reference/setpoint" to="reference/setpoint" /> 


  <include file="$(find rne_control)/launch/rne_drone_control.launch">
    <arg name="drone_home_x" value="0"/>
    <arg name="drone_home_y" value="0"/>
    <arg name="drone_home_z" value="0.32"/>
    <arg name="drone_takeoff_height" value="0.5"/>
  </include>


  <!-- <node pkg="rne_control" type="rne_control_node" name="rne_control" output="screen">
  </node> -->

   

</launch>